.about {
    color: aquamarine;
}
.skills {
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}
.projects {
    font-family: 'Courier New', Courier, monospace
}
.contact {
    color: peachpuff;
}